
/* Background */

body {
	background-image:url(./images/location0.GIF);
	background-repeat:no-repeat;
	background-size:100%;
	background-attachment:fixed;
}

/* Choose Language */

	.titel {
	position:relative;
	top:2%;
	width:100%;
	font-size:medium;
	font-variant:small-caps;
	background:rgba(255,255,255,0.85);
	color:#080706;
}
	.escolher {
	position:relative;
	top:15vw;
	width:100%;
	background:rgba(255,255,255,0.85);
	color:#080706;
}

	.escolher a {
	position:relative;
	top:50%;
	width:100%;
	transform:translateY(-50%);
	font-variant:small-caps;
}

	.lhref {
	position:relative;
	text-decoration:none;
	color:black;
	font-size:large;
	font-weight:bold;
}

/* Responsive Screens */

@media screen and (max-width:300px){
body {
    background-image:url(./images/location0.GIF);
	background-repeat:no-repeat;
	background-size:100%;
	background-attachment:fixed;
}

.titel {
    font-size:medium;
}

.escolher {
    top:37vw;width:100%;
}
}

@media screen and (min-width:301px) and (max-width:399px) {
body {
    background-image:url(./images/location0.GIF);
    background-repeat:no-repeat;
    background-size:100%;
	background-attachment:fixed;
}

.titel {
    font-size:medium;
}

.escolher {
    top:43vw;width:100%;
}
}

@media screen and (min-width:400px) and (max-width:699px) {
body {
    background-image:url(./images/location0.GIF);
	background-repeat:no-repeat;
	background-size:100%;
	background-attachment:fixed;
}

.titel {
    font-size:large;
}

.escolher {
    top:15vw;
}
}

@media screen and (min-width:700px) {
body {
    background-image:url(./images/location0.GIF);
	background-repeat:no-repeat;
	background-size:100%;
	background-attachment:fixed;
}

.titel {
    font-size:x-large;
}
.escolher {
    top:18vw;
}
}
